[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/claudiocoder/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/claudiocoder/orders-ms.git
